[Unit]
Description=Quackers WS Server Beta
After=network.target

[Service]
ExecStart=/root/live/quackers-ws-server
Restart=on-failure
User=root
Environment="QUACKERS_WS_ENVIRONMENT=beta"

[Install]
WantedBy=multi-user.target